<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.praveenkumar"
    android:versionCode="28"
    android:versionName="5.0 Beta3" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.co.praveenkumar.mdroid.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.CoursesActivity"
            android:configChanges="orientation|screenSize"
            android:label="Courses" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.ForumActivity"
            android:configChanges="orientation|screenSize"
            android:label="Forum" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.FilesActivity"
            android:configChanges="orientation|screenSize"
            android:label="Files" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.ForumThreadActivity"
            android:configChanges="orientation|screenSize"
            android:label="Forum thread" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.ForumThreadReplyActivity"
            android:configChanges="orientation|screenSize"
            android:label="Forum thread reply"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.ErrorActivity"
            android:configChanges="orientation|screenSize"
            android:label="Login errors" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.OfflineCoursesActivity"
            android:configChanges="orientation|screenSize"
            android:label="Offline courses" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.OfflineFilesActivity"
            android:configChanges="orientation|screenSize"
            android:label="Offline files" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Settings"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="in.co.praveenkumar.mdroid.NotificationsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Notifications"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name="in.co.praveenkumar.mdroid.services.MDroidService"
            android:icon="@drawable/ic_launcher"
            android:label="NewContentChecker" >
        </service>

        <receiver android:name="in.co.praveenkumar.mdroid.services.ScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="in.co.praveenkumar.mdroid.services.StartServiceReceiver" >
        </receiver>
    </application>

</manifest>