<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.praveenkumar"
    android:versionCode="20"
    android:versionName="2.8 Beta" >

    <uses-sdk
        android:minSdkVersion="6"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MDroidActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="courseListing"
            android:configChanges="orientation"
            android:label="Moodle Course listing" >
        </activity>
        <activity
            android:name="needSelection"
            android:configChanges="orientation"
            android:label="Moodle file forums selection" >
        </activity>
        <activity
            android:name="fileListing"
            android:configChanges="orientation"
            android:label="Moodle Course file listing" >
        </activity>
        <activity
            android:name="forums"
            android:configChanges="orientation"
            android:label="Moodle Course forums listing" >
        </activity>
        <activity
            android:name="forumDiscussThread"
            android:configChanges="orientation"
            android:label="Moodle forums discussion thread" >
        </activity>
        <activity
            android:name="userOfflineFolderListing"
            android:configChanges="orientation"
            android:label="Offline course listing" >
        </activity>
        <activity
            android:name="userOfflineFileListing"
            android:configChanges="orientation"
            android:label="Offline file listing" >
        </activity>
    </application>

</manifest>